#parentListCinemas {
  min-height: 705px;
  width: 92px;
  border: $border-style-1;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  flex: 0 0 9.787234%;
  max-width: 9.787234%;
  img {
    width: 50px;
  }
  li a {
    padding: 20px;
    transition: all 0.2s;
    border: none !important;
    &:hover {
      background-color: transparent;
      img {
        opacity: 1;
      }
    }
    img {
      opacity: 0.5;
    }
  }
  li a.active img {
    opacity: 1;
  }
}
