#detailPage {
  background-color: $color-black-3;
}
#detailMainTop {
  position: relative;
  .styleBlur {
    overflow: hidden;
    height: 512px;
    top: 0;
    left: 0;
    width: 100%;
    img {
      width: 100%;
      filter: blur(15px);
    }
  }
  .styleGradius {
    background: linear-gradient(to top, rgb(10, 32, 41), transparent 100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .detailMainInfo {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    .filmPosterTop {
      padding-left: 0 !important;
      padding-right: 0 !important;
      @include btnPlay(0, 0);
      &:hover {
        .btnPlay {
          opacity: 1;
        }
      }
      .detailFilmImage {
        width: 215px;
        height: 318px;
        border-radius: 4px;
      }
    }
    .infoMain {
      position: absolute;
      left: 25%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      font-weight: 600;
      .showDate {
        margin-bottom: 1px;
      }
      .filmTitle {
        font-size: 24px;
        margin: 0;
        font-weight: 400;
        .ageRange {
          margin-right: 6px;
          margin-top: 6px;
          font-size: 16px;
          padding: 3px 5px 0 5px;
          font-weight: 600;
          line-height: 20px;
        }
      }
      .btnBuyTicket {
        font-size: 16px;
        border-radius: 4px;
        text-align: center;
        background: 0 0;
        padding: 7px 25px;
        transition: all 0.2s;
        margin-top: 25px;
        margin-bottom: 20px;
        background-color: #fb4226;
        border: none;
        color: #fff;
        outline: none;
        &:hover {
          background-color: #b42a14;
        }
      }
    }
    .circleRating {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      padding: 0;
      text-align: center;
      .circlePercent {
        position: relative;
        font-size: 126px;
        width: 126px;
        height: 126px;
        border-radius: 50%;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.4);
        & > span {
          position: absolute;
          width: 100%;
          z-index: 1;
          left: 0;
          top: 0;
          line-height: 2.4em;
          font-size: 0.42em;
          color: #fff;
          display: block;
          text-align: center;
          white-space: nowrap;
          transition: all 0.2s ease-out;
        }
      }
      .circleBorder {
        width: 126px;
        height: 126px;
        background: 0 0;
        border: 7.5px solid #3a3a3a;
        border-radius: 50%;
        position: absolute;
      }
    }
  }
}
