//a:hover
.navbarLinkHover {
  color: $color-black-2 !important;
  transition: all 0.2s !important;
  text-decoration: none !important;
  margin-right: 5px !important;
  &:hover {
    color: $color-orange-0 !important;
  }
}

.activeClass {
  color: $color-orange-0 !important;
}

//prevert button size
.btn_Prev {
  height: 50px;
  width: auto;
}
//next button size
.btn_Next {
  height: 50px;
  width: auto;
}

//age type logo
.spanRed {
  font-size: 15px;
  background-color: $color-orange-0;
  border-radius: 4px;
  padding: 0 5px;
  color: $color-white-0;
  min-width: 33px;
  text-align: center;
  margin-right: 8px;
  display: inline-block;
}
.spanGreen {
  @extend .spanRed;
  background-color: $color-green-0;
  padding: 2px 12px;
}

.btnClose {
  position: absolute;
  opacity: 1;
  z-index: 2;
  right: -20px;
  top: -20px;
  background: 0 0;
  border: none;
  &:focus {
    outline: none;
  }
  &:hover img {
    opacity: 0.7;
  }
}
