.wrapperTrailer {
  position: relative !important;
  padding-bottom: 41.75% !important;
  height: 0 !important;
  width: 100% !important;
  #filmsCarousel {
    z-index: 1 !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    height: 100% !important;
    width: 100% !important;
    background-color: $color-white-3 !important;
    .carousel-indicators {
      margin-left: 45% !important;
      margin-right: 45% !important;
      margin-bottom: 74px !important;
      .active {
        background-color: $color-orange-0 !important;
      }
      li {
        width: 13px !important;
        height: 13px !important;
        border-radius: 50% !important;
        margin-left: 4px !important;
        margin-right: 4px !important;
        background-color: #d8d8d8 !important;
        opacity: 1 !important;
      }
    }
    .carousel-inner {
      height: 100% !important;
    }
    .carousel-item {
      position: absolute !important;
      height: 100% !important;
      .trailerImg {
        height: 101% !important;
        max-height: 600px !important;
        position: absolute !important;
      }
      @include btnPlay(0, 0);
      &:hover {
        button {
          opacity: 1 !important;
        }
      }
    }
    .carousel-control-prev img {
      margin-right: 95px !important;
    }
    .carousel-control-next img {
      margin-left: 95px !important;
    }
  }
}
@media (max-width: 886px) {
  #filmsCarousel .carousel-control-prev,
  #filmsCarousel .carousel-control-next {
    width: auto;
  }
}
