#homeMovies {
  padding-top: 75px;
  .navCenter {
    text-align: center;
    border: none;
    margin-bottom: 30px;
    list-style: none;
    display: block !important;
    li button.active {
      color: $color-orange-0;
      font-size: 24px;
    }
    li {
      display: inline-block;
      button {
        background-color: transparent;
        border: none;
        color: $color-black-2;
        font-size: 18px;
        transition: all 0.2s;
        padding: 10px 15px;
        outline: none;
        &:hover {
          font-size: 24px;
        }
      }
    }
  }
  .carousel-control-prev {
    left: -45px;
    width: 0%;
  }
  .carousel-control-next {
    right: -45px;
    width: 0%;
  }
}
